.navbar {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    padding: 1em 5em;
}

.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
}