.textfield {
    width: 15em;
    position: relative;
    left: 65em;
    bottom: 6em; 
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.card {
    width: 18em;
}