.textfield {
    width: 20em;
    position: relative;
    left: 37em;
    bottom: 2.7em; 
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.card {
    width: 18em;
}