.login {
    margin-bottom: 40em;
}

.login_form {
    align-items: center;
    margin: 5em 35em;
    padding: 2em;
    width: 25em;
    height: 20em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 0.1em solid gray;
}